@import "tailwindcss";

@theme inline {
  --font-sans: 'Poppins', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input:focus,
textarea:focus,
select:focus,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}